@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,300&family=Tangerine:wght@400;700&display=swap');

:root {
    --golden-yellow: #E8B90E;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

nav {
    display: flex;
    height: 100px;
    width: 100%;
    background:rgba(0, 0, 0, 0.5);
    color: white;
    align-items: center;
    justify-content: space-around;
}

.navHeading {
    font-family: 'Tangerine', cursive;
    font-size: 3.5em;
}

nav ul {
    margin: 1rem 0;
    text-align: center;
    padding: 0;
}

.nav-link {
    display: inline;
    margin: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
}

.nav-link:hover {
    cursor:pointer;
    text-decoration: underline;
}

.nav-link.active {
    color: var(--golden-yellow);
    text-decoration: underline;
}


main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    transition: 0.3s;
}

#homeHeading {
    color: white;
    font-family: 'Tangerine', cursive;
    font-size: 96px;
    font-weight: 700;
    text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000;

}

.subheading {
    font-weight: 300;
    font-size: 24px;

}

.menuButton {
    appearance: none;
    padding: 16px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    margin: 36px;
    transition: 0.4s;
}

.menuButton:hover {
    border: 2px solid var(--golden-yellow);
    cursor: pointer;
    background-color: var(--golden-yellow);
    transition: 0.7s;
}

.content-container {
    width: 960px;
    background-color: white;
    padding: 16px;
    display: flex;
    flex-direction: column;
    color: black;
}

.content-container > h2 {
    align-self: center;
    font-size: 2rem;
    margin: 8px;
}

.content-container > span {
    align-self: center;
    text-align:center;
    margin: 16px;
}

.content-container > .google-map {
    align-self: center;
    margin: 16px;
}

.content-container > hr:first-of-type {
    border: 0;
    border-top: 1px dotted black;
}

.menu-category > h3 {
    margin: 8px;
}

.item {
    display: flex;
    margin: 8px 0;
}

.item > p {
    margin: 0px 8px;
}

.item > hr {
    flex: 1;
    border: 0;
    border-bottom: 1px dotted black;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background: rgba(31, 41, 55, 0.4);
    color: white;
}

footer p > a {
    appearance: none;
    text-decoration: none;
}

footer p > a:visited {
    color: white;
}

footer p > a:hover {
    text-decoration: underline;
    color: whitesmoke;
}